.jumbotron {
padding-top: 6rem;
background-color: #e2e2e2; }

/* dikasih padding biar navbarnya ga nutupin konten */
section {padding-top: 5rem;}

.gambar {background-color: black;
width: 200px;
height: 200px;
margin: auto;
margin-bottom: 0px;
border-radius: 100px;
box-shadow: 0 0 100px 10px #ffd700;
text-align: center;
color:white;
line-height: 180px;}

p {text-align: justify;}

.form {width: 50%;
margin: auto;}

.copy {text-align: center;}